/* line 15, ../../sass/plugins/_reset.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 28, ../../sass/plugins/_reset.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 33, ../../sass/plugins/_reset.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* line 44, ../../sass/plugins/_reset.sass */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  height: 100%;
}

/* line 51, ../../sass/plugins/_reset.sass */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  height: 100%;
}

/* line 63, ../../sass/plugins/_reset.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../../sass/plugins/_reset.sass */
b, strong {
  font-weight: bold;
}

/* line 69, ../../sass/plugins/_reset.sass */
blockquote {
  margin: 1em 40px;
}

/* line 72, ../../sass/plugins/_reset.sass */
dfn {
  font-style: italic;
}

/* line 75, ../../sass/plugins/_reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 83, ../../sass/plugins/_reset.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 88, ../../sass/plugins/_reset.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 94, ../../sass/plugins/_reset.sass */
p {
  margin: 0 0 1.5em 0;
}

/* line 99, ../../sass/plugins/_reset.sass */
pre, code, kbd, samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 1em;
}

/* line 105, ../../sass/plugins/_reset.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 110, ../../sass/plugins/_reset.sass */
q {
  quotes: none;
}
/* line 112, ../../sass/plugins/_reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 116, ../../sass/plugins/_reset.sass */
small {
  font-size: 85%;
}

/* line 121, ../../sass/plugins/_reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 127, ../../sass/plugins/_reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 134, ../../sass/plugins/_reset.sass */
sub {
  bottom: -0.25em;
}

/* line 141, ../../sass/plugins/_reset.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 145, ../../sass/plugins/_reset.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 147, ../../sass/plugins/_reset.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 160, ../../sass/plugins/_reset.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 167, ../../sass/plugins/_reset.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 176, ../../sass/plugins/_reset.sass */
label {
  cursor: pointer;
}

/* line 182, ../../sass/plugins/_reset.sass */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 192, ../../sass/plugins/_reset.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 200, ../../sass/plugins/_reset.sass */
button, input {
  line-height: normal;
}

/* line 207, ../../sass/plugins/_reset.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 213, ../../sass/plugins/_reset.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
/* line 217, ../../sass/plugins/_reset.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
/* line 222, ../../sass/plugins/_reset.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 227, ../../sass/plugins/_reset.sass */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 232, ../../sass/plugins/_reset.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 239, ../../sass/plugins/_reset.sass */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 248, ../../sass/plugins/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 252, ../../sass/plugins/_reset.sass */
td {
  vertical-align: top;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/bebasneue/BebasNeue-webfont.eot");
  src: url("../fonts/bebasneue/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue/BebasNeue-webfont.woff") format("woff"), url("../fonts/bebasneue/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/bebasneue/BebasNeue-webfont.svg#BebasNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../../sass/globals/_typography.sass */
h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: normal;
  color: #333333;
}

/* line 5, ../../sass/globals/_typography.sass */
h2 {
  background: url("../images/dashed-line.png") center top repeat-x;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "BebasNeue", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
}
/* line 12, ../../sass/globals/_typography.sass */
h2 span {
  display: block;
  color: #00cc99;
}

/* line 15, ../../sass/globals/_typography.sass */
h3 {
  font-weight: 700;
}
/* line 17, ../../sass/globals/_typography.sass */
h3.invited {
  background: url("../images/and.png") center center no-repeat;
  line-height: 105px;
  height: 105px;
  font-family: "Adobe Caslon Pro", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 36px;
}

/* line 25, ../../sass/globals/_typography.sass */
p {
  line-height: 25px;
}
/* line 27, ../../sass/globals/_typography.sass */
p.address {
  text-align: center;
}

/* line 29, ../../sass/globals/_typography.sass */
a {
  color: #333333;
}
/* line 31, ../../sass/globals/_typography.sass */
a:hover {
  color: #00cc99;
}

/* line 34, ../../sass/globals/_typography.sass */
.register a {
  display: block;
  background-color: #00cc99;
  color: white;
  font-family: "BebasNeue", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 106px;
  height: 46px;
  padding: 30px 0;
  -webkit-border-radius: 106px;
  -moz-border-radius: 106px;
  -ms-border-radius: 106px;
  -o-border-radius: 106px;
  border-radius: 106px;
  margin: 0 auto;
}

/* line 49, ../../sass/globals/_typography.sass */
.signup-greeting {
  font-family: "Adobe Caslon Pro", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 100px;
  font-weight: bold;
  color: #eeeeee;
  line-height: 1em;
  text-align: center;
  position: absolute;
  bottom: -230px;
  left: 0;
  max-width: 360px;
  z-index: -1;
}
/* line 63, ../../sass/globals/_typography.sass */
.signup-greeting.smaller {
  font-size: 80px;
  bottom: -180px;
}

/* line 68, ../../sass/globals/_typography.sass */
label {
  font-family: "Adobe Caslon Pro", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 20px;
}

/* line 73, ../../sass/globals/_typography.sass */
textarea {
  line-height: 1.2em;
}

/* line 76, ../../sass/globals/_typography.sass */
.help-inline {
  float: right;
  font-size: 12px;
}

/* line 1, ../../sass/globals/_structure.sass */
body {
  color: #666666;
}

/* line 4, ../../sass/globals/_structure.sass */
#wrap {
  max-width: 360px;
  margin: 40px auto 40px auto;
}

/* line 9, ../../sass/globals/_structure.sass */
#site-main .structure {
  position: relative;
}

/* line 1, ../../sass/components/_header.sass */
#site-header {
  height: 70px;
  background: url("../images/ro-logo.png") center top no-repeat;
}

/* line 1, ../../sass/components/_footer.sass */
footer {
  background: #eeeeee url("../images/dashed-line.png") center top repeat-x;
  font-size: 12px;
  padding: 20px;
}
/* line 6, ../../sass/components/_footer.sass */
footer p {
  max-width: 360px;
  margin: -5px auto 0 auto;
  text-align: left;
}
/* line 10, ../../sass/components/_footer.sass */
footer p a {
  text-decoration: none;
  font-weight: 700;
}
/* line 13, ../../sass/components/_footer.sass */
footer p a:hover {
  color: #333333;
  text-decoration: underline;
}
/* line 16, ../../sass/components/_footer.sass */
footer p a:after {
  content: " |";
}
/* line 19, ../../sass/components/_footer.sass */
footer p a:last-child:after {
  content: "";
}

/* line 15, ../../sass/shared/_forms.sass */
form {
  margin: 0 0 18px;
}

/* line 18, ../../sass/shared/_forms.sass */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 24, ../../sass/shared/_forms.sass */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  line-height: 27px;
  border: 0;
  border-bottom: 1px solid #eeeeee;
}
/* line 33, ../../sass/shared/_forms.sass */
legend small {
  font-size: 13.5px;
  color: #999999;
}

/* line 38, ../../sass/shared/_forms.sass */
label {
  display: none;
  margin-bottom: 5px;
}

/* line 43, ../../sass/shared/_forms.sass */
input,
textarea,
select,
.uneditable-input {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 100%;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  color: #555555;
  background: none;
  border: 0;
  border-bottom: 1px solid #d4d4d4;
  resize: none;
  font-family: "Adobe Caslon Pro", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 20px;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
input,
textarea,
select,
.uneditable-input {
  *display: inline;
}
/* line 61, ../../sass/shared/_forms.sass */
input:focus,
textarea:focus,
select:focus,
.uneditable-input:focus {
  outline: none;
}

/* line 64, ../../sass/shared/_forms.sass */
.uneditable-textarea {
  width: auto;
  height: auto;
}

/* line 69, ../../sass/shared/_forms.sass */
label input,
label textarea,
label select {
  display: block;
}

/* line 75, ../../sass/shared/_forms.sass */
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  border: 0 \9 ;
}

/* line 87, ../../sass/shared/_forms.sass */
input[type="image"] {
  border: 0;
}

/* line 91, ../../sass/shared/_forms.sass */
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: initial;
}

/* line 99, ../../sass/shared/_forms.sass */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}

/* line 106, ../../sass/shared/_forms.sass */
select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
}

/* line 113, ../../sass/shared/_forms.sass */
input[type="file"] {
  line-height: 18px \9;
}

/* line 118, ../../sass/shared/_forms.sass */
select {
  width: 220px;
  background-color: white;
}

/* line 123, ../../sass/shared/_forms.sass */
select[multiple],
select[size] {
  height: auto;
}

/* line 128, ../../sass/shared/_forms.sass */
textarea {
  height: auto;
}

/* line 133, ../../sass/shared/_forms.sass */
input[type="hidden"] {
  display: none;
}

/* line 140, ../../sass/shared/_forms.sass */
.radio,
.checkbox {
  padding-left: 18px;
}

/* line 144, ../../sass/shared/_forms.sass */
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

/* line 151, ../../sass/shared/_forms.sass */
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

/* line 158, ../../sass/shared/_forms.sass */
.radio.inline,
.checkbox.inline {
  padding-top: 5px;
  margin-bottom: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.radio.inline,
.checkbox.inline {
  *display: inline;
}

/* line 164, ../../sass/shared/_forms.sass */
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

/* line 170, ../../sass/shared/_forms.sass */
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}

/* line 182, ../../sass/shared/_forms.sass */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #eeeeee;
  border-color: #dddddd;
  cursor: not-allowed;
}

/* line 199, ../../sass/shared/_forms.sass */
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
/* line 203, ../../sass/shared/_forms.sass */
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}
/* line 208, ../../sass/shared/_forms.sass */
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  border-color: #c09853;
}
/* line 214, ../../sass/shared/_forms.sass */
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
/* line 218, ../../sass/shared/_forms.sass */
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
/* line 223, ../../sass/shared/_forms.sass */
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  border-color: #b94a48;
}
/* line 229, ../../sass/shared/_forms.sass */
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
/* line 234, ../../sass/shared/_forms.sass */
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}
/* line 240, ../../sass/shared/_forms.sass */
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  border-color: #468847;
}

/* line 247, ../../sass/shared/_forms.sass */
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

/* line 257, ../../sass/shared/_forms.sass */
.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #eeeeee;
  border-top: 1px solid #dddddd;
  zoom: 1;
}
/* line 3, ../../sass/globals/_mixins.sass */
.form-actions:before, .form-actions:after {
  content: "";
  display: table;
}
/* line 6, ../../sass/globals/_mixins.sass */
.form-actions:after {
  clear: both;
}

/* line 267, ../../sass/shared/_forms.sass */
.uneditable-input {
  display: block;
  background-color: white;
  border-color: #eeeeee;
  cursor: not-allowed;
}

/* line 275, ../../sass/shared/_forms.sass */
:-moz-placeholder {
  color: #999999;
}

/* line 278, ../../sass/shared/_forms.sass */
::-webkit-input-placeholder {
  color: #999999;
}

/* line 285, ../../sass/shared/_forms.sass */
.help-block,
.help-inline {
  color: #555555;
}

/* line 290, ../../sass/shared/_forms.sass */
.help-block {
  display: block;
  margin-bottom: 9px;
}

/* line 295, ../../sass/shared/_forms.sass */
.help-inline {
  padding-left: 5px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.help-inline {
  *display: inline;
}

/* line 309, ../../sass/shared/_forms.sass */
.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-bottom: 0;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  *display: inline;
}
/* line 320, ../../sass/shared/_forms.sass */
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

/* line 323, ../../sass/shared/_forms.sass */
.form-search label,
.form-inline label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.form-search label,
.form-inline label {
  *display: inline;
}

/* line 328, ../../sass/shared/_forms.sass */
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}

/* line 335, ../../sass/shared/_forms.sass */
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 344, ../../sass/shared/_forms.sass */
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

/* line 353, ../../sass/shared/_forms.sass */
.control-group {
  margin-bottom: 9px;
  zoom: 1;
}
/* line 3, ../../sass/globals/_mixins.sass */
.control-group:before, .control-group:after {
  content: "";
  display: table;
}
/* line 6, ../../sass/globals/_mixins.sass */
.control-group:after {
  clear: both;
}

/* line 358, ../../sass/shared/_forms.sass */
legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}

/* line 368, ../../sass/shared/_forms.sass */
.form-horizontal .control-group {
  margin-bottom: 18px;
}
/* line 372, ../../sass/shared/_forms.sass */
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
/* line 379, ../../sass/shared/_forms.sass */
.form-horizontal .controls {
  margin-left: 160px;
  *display: inline-block;
  *margin-left: 0;
  *padding-left: 20px;
}
/* line 387, ../../sass/shared/_forms.sass */
.form-horizontal .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}
/* line 392, ../../sass/shared/_forms.sass */
.form-horizontal .form-actions {
  padding-left: 160px;
}

/* line 1, ../../sass/shared/_buttons.sass */
.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  cursor: pointer;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  *display: inline;
}

/* line 9, ../../sass/shared/_buttons.sass */
.submit {
  display: block !important;
  border: 0;
  background-color: #00cc99;
  color: white;
  font-family: "BebasNeue", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
  width: 106px !important;
  height: 106px !important;
  padding: 30px 0 !important;
  -webkit-border-radius: 106px;
  -moz-border-radius: 106px;
  -ms-border-radius: 106px;
  -o-border-radius: 106px;
  border-radius: 106px;
  margin: 0 auto;
}

@media print {
  /* line 7, ../../sass/plugins/_print.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 15, ../../sass/plugins/_print.sass */
  a {
    text-decoration: underline;
  }
  /* line 17, ../../sass/plugins/_print.sass */
  a:visited {
    text-decoration: underline;
  }
  /* line 19, ../../sass/plugins/_print.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 21, ../../sass/plugins/_print.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 24, ../../sass/plugins/_print.sass */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 27, ../../sass/plugins/_print.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 30, ../../sass/plugins/_print.sass */
  thead {
    display: table-header-group;
  }

  /* line 33, ../../sass/plugins/_print.sass */
  tr {
    page-break-inside: avoid;
  }

  /* line 35, ../../sass/plugins/_print.sass */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 41, ../../sass/plugins/_print.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 44, ../../sass/plugins/_print.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
