boto==2.5.2
django==1.4
django-admin-sso==0.1.1
django-cache-url==0.2
django-crispy-forms==1.1.4
django-debug-toolbar==0.9.4
django-extensions==0.9
django-gravatar==0.1.0
django-mptt==0.5.2
django-storages==1.1.4
dj-database-url==0.2.1
feincms==1.6.2
gunicorn==0.14.5
psycopg2==2.4.5
raven==2.0.2
South==0.7.5
