{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load gravatar %}

{% block page_title %}What is Refresh Oxford?{% endblock %}

{% block content %}
<p>Refresh Oxford is Oxford's premier hackday event, where developers, designers, front-enders, UX-ers and anyone else who works in web comes together to create amazing projects in a single day. Hosted by digital agency <a href="http://incuna.com/">Incuna</a> in our Summertown, Oxford office, we'll provide the space, food and drinks and…</p>

<h3 class="invited">You&rsquo;re invited!</h3>
<p class="address">Saturday; August 18, 2012 from: 09:30 — 20:45<br>
<a href="http://goo.gl/maps/VXeF">16 Middle Way, Oxford, OX2 7LH</a>  *It’s free!*</p>
<p class="register"><a href="{% url signup %}">Register Now!</a></p>

{% if attendees %}
<h2>So Who's Coming?</h2>
{% for attendee in attendees %}
    <img src="{% gravatar_for_email attendee.email %}">
{% endfor %}
{% endif %}

<h2>Can't make this one?</h2>
<p>That's too bad! Sign-up to our mailing list to find out when the next Refresh Oxford is going to happen...</p>

{% crispy form %}

{% endblock %}

